/* GLOBAL

COLOR
Black: #2d2d2d;
Light-blue: #1952a8;
Blue: #273589;
Yellow: f4be14;

FONT
paragraph: 'Quicksand', sans-serif;
heading: 'Passion One', cursive;
font-family: 'Bitter', serif;
p font-size:  18px;


*/

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Quicksand', sans-serif;
}

body{
    background-image: url(images/fish-background.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position-y: center;
}

p{
    font-size:18px;
    line-height: 26px;
}

a{
    text-decoration:none;
}


/* ------ NAVIGATION --------- */

nav{
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
    width:100%;
    background:none;
}

.logo{
    width:150px;
    display:block;
    float:left;
    margin-top:25px;
    margin-left:40px;
    margin-bottom:10px;
}


.nav-container ul {
    float: left;
    padding:20px;
    margin-top:10px;
    margin-left:10px;
}

.nav-container ul li {
  display: inline-block;
  float: left;
}

.nav-container ul li:not(:first-child) {
  margin-left: 40px;
}

.nav-container ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.nav-container ul li a:hover {
  opacity:.5;
  text-decoration: none;
  transition:.5s;
}

@media screen and (max-width: 768px) {
    .logo{
        margin-left:20px;
    }    

  #nav:not(:checked) ~ .nav-container {
    display: none;
  }
    
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #273589;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }
    
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}


/* -------- Footer ----------- */
footer{
    clear: both;
    float: none;
    overflow: hidden;
    background: #273589;
    padding:10px 30px;
    text-align: right;
    color:#ffffff;
    font-size:13px;
    letter-spacing: 1px;
}

footer a{
    color:#ffffff;
}

footer a:hover{
    opacity:.5;
    transition:.5s;
}

@media screen and (max-width:768px) {
    footer{
        text-align: center;
    }
}


/*----- Landing -------*/
.landing-container{
    display:block;
    position: relative;
    width:100%;
    min-height:100vh;
    background-image:url(images/background-img.png);
    background-size:cover;
    background-repeat:no-repeat;
    overflow: scroll;
}

.landing{
    display: block;
    height:100vh;
    color:#ffffff;
}

.cv-button{
    display:block;
    position: fixed;
    top:100px;
    right:0;
    border: 2px solid #f4be14;
    background-color: #f4be14;
    border-radius: 3px 0 0 3px;
    font-size:18px;
    line-height:20px;
    padding:8px;
    color:#ffffff;
    z-index:100;
}

.cv-button:hover{
    opacity:.8;
    transition: .5s;
}

.about-left{
    clear:both;
    display:flex;
    float:left;
    width:60%;
    height:100%;
    align-items:center;
    padding:0 30px;
}

.v-center h1{
    font-family: 'Bitter', serif;
    font-size:58px;
    font-weight: bolder;
    letter-spacing:1px;
    margin-bottom:5px;
    float:none;
}



.about-left p{
    font-size:19px;
    line-height:28px;
    margin-bottom:20px;
    text-align:left;
}

p.big-p{
    font-size:24px;
    line-height: 32px;
}

a.about-link{
    color:#f4be14;
}

a.about-link:hover{
    color:#ffffff;
    transition:.5s;
}

.yellow-button{
    display: inline-block;
    letter-spacing: 1px;
    padding: 0 60px;
    border-radius: 25px;
    border: 2px solid #f4be14;
    line-height:45px;
    background-color: #f4be14;
}

.yellow-link{
    color:#273589;
    font-size:18px;
}

.yellow-button:hover{
    background-color:transparent;
    transition:.5s;
}

.yellow-link:hover{
    color: #f4be14;
}

.about-right{
    display:flex;
    float:left;
    width:40%;
    height:100%;
    align-items:center;
}

.about-right img{
    width:90%;
    margin:0 auto;
    padding-top:60px;
}


        @media screen and (max-width: 768px) {
        section{
            min-height:100%;
        }
            
        h4{
            font-size:26px;
            line-height:32px;
        }
            
        .section-container{
            height:auto;
        }
            
        .landing{
            padding: 100px 20px;
        }

        .about-left, .about-right{
            display:block;
            width:100%;
            float:none;
            padding:0;
            height:auto;
        }
            
        .about-right img{
            width:300px;
            padding:40px 20px;
            display:block;
            margin:0 auto;
        }
            
        .v-center{
        text-align:center;        
        }
            
        .v-center h1{
        font-size:24px;
        }
        }


/* ---- Sections ----*/
section{
    width:100%;
    min-height:100vh;
    overflow:hidden;
}

.section-container{
    min-height:100vh;
    display:block;
}

.section-max-width{
    display:block;
    max-width:1024px;
    margin:0 auto;
}

h2{
    font-family: 'Passion One', cursive;
    font-size:36px;
    letter-spacing: 4px;
    margin-bottom:30px;
    text-align:center;
}

        @media all and (max-width: 1024px) and (min-width: 769px) {

            }

            @media screen and (max-width: 768px) {
                h2{
                    padding:0 10px;
                }

            }


/*---- Research ----*/
.research{
    background-color:#f9f8f2;
    min-height:100vh;
    overflow:hidden;
    padding:100px 0;
}

h4{
    font-size:34px;
    line-height:42px;
    display:block;
    float:left;
}

.description{
    clear:both;
    margin-bottom:30px;
    font-size:18px;
    
}

@media screen and (max-width: 768px) {
    .research{
        padding:30px 0 0 0;
    } 
    
    .description{
        padding:0 10px;
    }
    
    h4{
        font-size:38px;
    }
    }

/*---- Publications ----*/
.publications-container{
    text-align: center;
}

.publications-button{
    margin-top:20px;
    margin-bottom:60px;
}    

/*---- Research Box ----*/


.research-row{
    display:flex;
    width:100%;
}

.research-box-one{
    display:block;
    width:33.333%;
    float:left;
    background-color: #273589;
    padding:40px 40px;
    color:#ffffff;
    cursor: pointer;
}

.research-box-two{
    display:block;
    width:33.333%;
    float:left;
    background-color: #1952a8;
    padding:40px 40px;
    color:#ffffff;
    cursor: pointer;
}

.research-box-one:hover{
    background-color: #f4be14;
    transition: .5s;
}

.research-box-two:hover{
    background-color: #f4be14;
    transition: .5s;
}

.research-container h3{
    font-family: 'Bitter', serif;
    font-size:42px;
    letter-spacing: 2px;
}

.research-row p{
    font-size:24px;
}

        @media screen and (max-width: 768px) {
                
            
                .research-row{
                    display:block;
                    width:100%;
                }

                .research-box-one, .research-box-two{
                    width:100%;
                    float:none;
                    padding:40px 40px;
                }   
                .research-row p{
                    font-size:20px;
                }
        }


/* -------------- Modal -------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.modal-content {
    display:block;
    background-color: #fefefe;
    border-radius:5px;
    margin: 3% auto; /* 10% from the top and centered */
    padding: 60px 120px;
    width: 70%; /* Could be more or less, depending on screen size */
    font-family: 'Quicksand', sans-serif;
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.14);
}

h3.research-title{
    font-family: 'Bitter', serif;
    margin-top:30px;
    font-size:28px;
}

.modal-content p{
    font-size:18px;
    line-height:26px;
    margin:20px 0;
}

/* The Close Button */
.close-modal {
    color: #000000;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:10px;
}

.close-modal:hover,
.close-modal:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

                    /* mobile */
                    @media screen and (max-width:768px) {

                    .modal-content {
                    width: 95%;
                    margin: 8% auto;
                    padding: 20px 10px;
                    }

                    h3.research-title{
                        margin-top:24px;
                    }

                    }



/*---- Teaching ----*/
.teaching{
    padding:100px 30px;
}

.teaching-contaner{
    
}

h5{
    clear:both;
    font-size:20px;
    margin-bottom:40px;
    text-align:center;
}

h6{
    font-size:18px;
}

.teaching-ex-container{
    display:block;
    margin-bottom: 120px;
    overflow:hidden;
    width:40%;
    float: left;
}

.teaching-half{
    display:block;
    width:100%;
    float:none;
    padding:0 30px 20px 30px;
}

h6.teaching-title{
    font-family: 'Bitter', serif;
    font-size:18px;
    letter-spacing:3px;
    width:100%;
    padding:20px 20px;
    color:#ffffff;
    background-color: #1952a8;
    margin:20px 0;
}

.teaching-table{
    display:table;
    width:100%;
    border-collapse: collapse;
}

.teaching-table th{
    text-align:left;
    padding:8px 0;
    font-size:17px;
    border-bottom: 1px solid #ddd;
}

.teaching-table td{
    text-align:left;
    padding:10px 0;
    font-size:15px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    padding-right:10px;
}

.class-icon{
    width: 15px;
}


            @media screen and (max-width: 768px) {
                    .teaching{
                        padding:30px 10px;
                    }
                
                    .teaching-ex-container{
                        width:100%;
                        margin-bottom: 60px;
                    }
                
                    .teaching-half{
                        padding:0;
                    }
                
                    .teaching-table{
                        margin-bottom:40px;
                    }
            }


.pot_course{
    display:block;
    text-align:center;
    float:left;
    width:60%;
    margin-bottom:100px;
}

.pot_course h3{
    text-align:center;
    margin:50px 0 50px 0;
    font-size:30px;
    letter-spacing:3px;
}

.pot_course table{
    display:table;
    margin:20px auto 0 auto;
    width:auto;
}

#pot_desk_mobile{
    display:none;
}



.pot_course table th{
    font-size:13px;
    text-align:center;
    padding:8px 0;
}

.pot_course th.first {
    width:40%;
    
}

.pot_course th.level {
    width:12%;
}

.pot_course td{
    font-size:15px;
    line-height:34px;
    letter-spacing:1px;
}

.title{
    padding-left:10px;
    text-align:left;
}

.pot_course td.level{
    text-align: center;
}

.pot_course tr:nth-child(odd) {
    background-color:#eff0f2;
}

.pot_course tr:nth-child(even) {
    background-color:#ffffff;
}

.levels{
    display:none;
}

    /* mobile */
    @media screen and (max-width:768px) {
            .pot_course{
                float:none;
                width:100%;
                margin-bottom:100px;
            }
            #pot_desk{
                display:none;
            }

            #pot_desk_mobile{
                display:table;
                margin:20px auto 0 auto;
                width:100%;
            }

            #pot_desk_mobile td{
                font-size:14px;
                line-height:18px;
                letter-spacing:0px;
                padding:10px 0;
            } 
        
            .levels{
                display:block;
                margin-top: 20px;
            }
        
        .levels ul{
            list-style-type: none;
        }
    }



 /*---- Notes ----*/

.note-container{
    display:block;
    max-width:1024px;
    margin:0 auto;
}

h5.note{
    text-align: center;
}
.notes-list{
    display: table;
    font-size:18px;
    line-height:24px;
    margin:0 auto;
}

@media screen and (max-width:768px) {
h5.note{
    text-align: center;
}
.notes-list{
    margin-left:30px;
    margin-bottom:60px;
}


}       




/*---- Contact ----*/

.contact{
    clear:both;
    background-color:#f9f8f2;
}

.contact-left{
    clear:both;
    display:block;
    float:left;
    width:50%;
    height:100vh;
    background-image:url(images/contact-img.png);
    background-size:cover;
}

.contact-right{
    float:left;
    width:50%;
    height:100vh;
    padding:100px 30px;
}

.contact-right h2{
    text-align: left;
}

.info{
    clear:both;
}

.social-icon{
    width:28px;
    margin-right:10px;
    float:left;
}

.contact-link p{
    font-size:20px;
    color:#000000;
    line-height:28px;
}

.info:hover{
    opacity: .5;
    transition:.5s;
}

.connect{
    margin-top:30px;
    margin-bottom:20px;
}

    @media screen and (max-width: 768px) {
        .contact-left{
        display: block;
        width: 100%;
        height: 200px;
            
        }
        .contact-right{
            display:block;
            float:left;
            width:100%;
            padding:60px 15px;
            
        }
        
        .contact-right h2{
            text-align:center;
        }
        
        .info {
            display: inline-block;
            margin-top:10px;
            margin-bottom: 30px;
        }
        
        .social-icon{
            float:none;
        }
}


